#custom-drawer {
  transition: 0.4s;
  width: 0;
}

#custom-drawer.open {
  width: 400px;
}
@media (max-width: 768px) {
  #custom-drawer.open {
    width: 80%;
    max-width: 300px;
  }
}
.drawer-content {
  visibility: visible;
  transition: 0.1s;
}
.drawer-content.hide {
  visibility: hidden;
}
